[Desktop Entry]
Version=1.0
Name=Net-Check
Name[ar]=طرفية
Name[ast]=Net-Check
Name[be]=Тэрмінал
Name[ca]=Net-Check
Name[cs]=Net-Check
Name[da]=Net-Check
Name[de]=Net-Check
Name[dz]=ཊར་མི་ནཱལ།
Name[el]=Τερματικό
Name[en_GB]=Net-Check
Name[eo]=Net-Checko
Name[es]=Net-Check
Name[et]=Net-Check
Name[eu]=Net-Checka
Name[fi]=Net-Check
Name[fr]=Net-Check
Name[gl]=Net-Check
Name[he]=מסוף
Name[hr]=Net-Check
Name[id]=Net-Check
Name[it]=Net-Checke
Name[ja]=Net-Check
Name[kk]=Терминал
Name[ko]=터미널
Name[nb]=Net-Check
Name[nl]=Net-Check
Name[pa]=ਟਰਮੀਨਲ
Name[pl]=Net-Check
Name[pt]=Net-Check
Name[pt_BR]=Net-Check
Name[ro]=Net-Check
Name[ru]=Терминал
Name[si]=අග්‍රය
Name[sk]=Net-Check
Name[sq]=Net-Check
Name[sv]=Net-Check
Name[tr]=Uçbirim
Name[ug]=تېرمىنال
Name[uk]=Термінал
Name[ur]=ٹرمنل
Name[ur_PK]=ٹرمنل
Name[vi]=Net-Check
Name[zh_CN]=Xfce 终端
Name[zh_TW]=終端機
Comment=Net-Check 
Comment[ar]=محاكي طرفية
Comment[ast]=Net-Check
Comment[be]=Net-Check
Comment[ca]=Net-Check
Comment[cs]=Net-Check
Comment[da]=Net-Check 
Comment[de]=Net-Check-Programm
Comment[dz]=ཊར་མི་ནཱལ་ནུས་འཕྲུལ།
Comment[el]=Προσομοίωση τερματικού
Comment[en_GB]=Net-Check 
Comment[eo]=Net-Check
Comment[es]=Net-Check
Comment[et]=Net-Check
Comment[eu]=Net-Check
Comment[fi]=Net-Check
Comment[fr]=Net-Check
Comment[gl]=Net-Check
Comment[he]=Net-Check
Comment[hr]=Net-Check
Comment[hu]=Net-Check
Comment[id]=Net-Check
Comment[it]=Net-Checke
Comment[ja]=ターミナルエミュレータ
Comment[kk]=Терминал эмуляторы
Comment[ko]=터미널 에뮬레이터
Comment[ku]=Net-Check
Comment[lv]=Net-Check
Comment[nb]=Net-Check
Comment[nl]=Net-Check
Comment[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Comment[pl]=Net-Check
Comment[pt]=Net-Check
Comment[pt_BR]=Net-Check
Comment[ro]= Net-Check
Comment[ru]=Net-Check
Comment[si]=අග්‍ර අනුකාරක
Comment[sk]=Net-Check
Comment[sq]=Net-Check
Comment[sv]=Net-Check
Comment[tr]=Net-Check
Comment[ug]=تېرمىنال 
Comment[uk]=Net-Check
Comment[ur]=ٹرمنل ایمولیٹر
Comment[ur_PK]=ٹرمنل ایمولیٹر
Comment[vi]=Trình giả lập Net-Check
Comment[zh_CN]=终端模拟器
Comment[zh_TW]=終端機程式
GenericName=Net-Check 
GenericName[ar]=محاكي طرفية
GenericName[ast]=Net-Check
GenericName[be]=Эмулятар тэрмінала
GenericName[ca]=Net-Check
GenericName[cs]=Net-Check
GenericName[da]=Net-Check 
GenericName[de]=Net-Check-Programm
GenericName[dz]=ཊར་མི་ནཱལ་ནུས་འཕྲུལ།
GenericName[el]=Προσομοίωση τερματικού
GenericName[en_GB]=Net-Check 
GenericName[eo]=Net-Check
GenericName[es]=Net-Check
GenericName[et]=Net-Check
GenericName[eu]=Net-Check
GenericName[fi]=Net-Check
GenericName[fr]=Net-Check
GenericName[gl]=Net-Check
GenericName[he]=מדמה מסוף
GenericName[hr]=Net-Check
GenericName[hu]=Net-Check
GenericName[id]=Net-Check
GenericName[it]= Net-Check
GenericName[ja]=ターミナルエミュレータ
GenericName[kk]=Терминал эмуляторы
GenericName[ko]=터미널 에뮬레이터
GenericName[ku]=Net-Check
GenericName[lv]=Net-Check
GenericName[nb]=Net-Check
GenericName[nl]=Net-Check
GenericName[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
GenericName[pl]=Net-Check
GenericName[pt]=Net-Check
GenericName[pt_BR]=Net-Check
GenericName[ro]=Net-Check
GenericName[ru]=Эмулятор терминала
GenericName[si]=අග්‍ර අනුකාරක
GenericName[sk]=Net-Check
GenericName[sq]=Net-Checki
GenericName[sv]=Net-Check
GenericName[tr]=Uçbirim Öykünücüsü
GenericName[ug]=تېرمىنال 
GenericName[uk]=Емулятор терміналу
GenericName[ur]=ٹرمنل ایمولیٹر
GenericName[ur_PK]=ٹرمنل ایمولیٹر
GenericName[vi]=Trình giả lập Net-Check
GenericName[zh_CN]=终端模拟器
GenericName[zh_TW]=終端機程式
Exec=/usr/local/bin/net_check
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=GTK;System;Utility;
StartupNotify=true

# vi:set encoding=UTF-8:
